div.a {
    text-align: center;
}

div.b {

        margin-left: 35%;
        margin-right: 35%;

}


.mywebsite {
    color: blue;
    }

nav {
 text-align: center;
}

body {
  font-family: Georgia, serif;

}

div.c {
margin-left: 40%;
margin-right: 10%;
text-align: right; 



}

div.d {
margin-left:10%;
margin-right: 40%;
text-align: left;




}