div.a {
    text-align: center;
}

div.b {
margin-left: 35%;
margin-right: 35%;
text-align: left;
}


.mywebsite {
    color: blue;
    }

nav {
 text-align: center;
}

body {
  font-family: Georgia, serif;
  background-color: lightgray;
}
